.item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: .6em;
  margin: .2em;
  width: 6em;
  border-radius: 5px;
  position: relative;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item.active {
  background: steelblue;
  color: white;
}

.item.transfer .item-info {
  opacity: .6;
}

.item.transfer .item-info img {
  opacity: .3;
}

.item.active a {
  color: white;
}

.item:hover {
  cursor: pointer;
}

.item .name {
  max-width: 6em;
  text-align: center;
  word-wrap: break-word;
}

.transfer-thumb-info {
  position: absolute;
  font-size: .8em;
  top: 3em;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
