.dialog-present {
  filter: blur(4px);
}

.dialog, .dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-backdrop {
  background: rgba(0,0,0, .4);
  z-index: -999;
}

.dialog-ui {
  border: 1px solid var(--fg-color);
  min-width: 30vw;
  min-height: 20vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-content {
  padding: 1.5em;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5em 1.5em 0;
}

.dialog-buttons button {
  margin: 0 1em;
  margin-right: 0;
  border: 1px solid var(--fg-color);
}
